// ====================> Color palette
:root {
  --color-primary: rgba(252, 227, 138, 1);
  --color-secondary: rgba(243, 129, 129, 1);
  --color-tertiary: rgba(149, 225, 211, 1);
  --color-white: rgba(245, 245, 245, 1);
  --color-white-80: rgba(245, 245, 245, 0.8);
  --color-black: rgba(51, 51, 51, 1);
  --color-black-80: rgba(51, 51, 51, 0.8);
}
