// ====================> Margin utility classes
// ==========> Margin right
.m-r-2 {
  margin-right: 2rem;
}

// ==========> Margin bottom
.m-b-5 {
  margin-bottom: 5rem;
}

.m-b-10 {
  margin-bottom: 10rem;
}

.m-b-20 {
  margin-bottom: 20rem;
}

// ====================> Text alignment classes
// ==========> Text aling center
.t-a-c {
  text-align: center;
}
