.header {
  left: 0;
  padding: 2rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100;

  &__container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $max-width;

    @media only screen and (max-width: 830px) {
      & .btn-primary {
        display: none !important;
      }
    }
  }

  &__hamburger {
    align-items: flex-end;
    display: none;
    flex-direction: column;

    &__line {
      background-color: var(--color-black-80);
      display: block;
      height: 0.7rem;
      width: 6rem;

      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }

      &--1,
      &--2,
      &--3 {
        transition: all 0.2s;
      }

      &--1-active {
        transform: rotate(-45deg) translateX(-3rem);
      }

      &--2 {
        width: 8rem;
      }

      &--2-active {
        transform: translateX(-105vw);
      }

      &--3-active {
        transform: rotate(45deg) translateX(-3rem);
      }
    }

    &:hover {
      cursor: pointer;
    }

    @media only screen and (max-width: 830px) {
      display: flex;
    }
  }
}

.header.header-bg {
  background-color: var(--color-white);
  box-shadow: 2px 2px 0.6rem var(--color-black-80);
  transition: all 0.4s;
}
